<% if user_signed_in? %>

  <div class="content">
    <span>Category: </span>
    <select id="search-list" name="category">
      <option></option>
      <% @categories.each do |category| %>
        <option><%= category.name %></option>
      <% end %>
    </select>

    <table class="table table-bordered responsive-table table-links">
      <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Date</th>
          <th>Buttons</th>
        </tr>
      </thead>
      <tbody>
        <% @links.each do |link| %>
        <tr>
          <td><a href="http://<%= link.url %>" style="background-image:url(https://www.google.com/s2/favicons?domain=<%= link.url.match(/^.*\.[a-z]{2,5}/).to_s %>)" target="_blank"><%= link.title %></a></td>
          <td><%= link.category.name if link.category %></td>
          <td><%= link.created_at.strftime("%d %b %y") %></td>
          <td><%= link_to 'Edit', edit_link_path(link) %> | <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<div class="row" style="clear: both; margin-top: 15px; padding: 0 15px;">
  <%= link_to 'New Link', new_link_path, class: 'pull-left', data: { no_turbolink: true } %>
  <%= link_to 'Categories', categories_path, class: 'pull-right', data: { no_turbolink: true } %>
</div>
<script>
$('table').dynatable({
  table: {
    defaultColumnIdStyle: 'underscore'
  },
  features: {
  },
  inputs: {
    queries: $('#search-list')
  }
});
</script>

<% else %>

  <%= render 'preview' %>

  <div class="center">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg signup-modal-link">
      Register
    </button>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg login-modal-link">
      Login
    </button>
  </div>

  <%= render 'modal' %>

<% end %>
