<!DOCTYPE html>
<html>
<head>
  <title>BookMarker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'colour' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-content">
  <%= render 'layouts/shared/header' %>
  <div class="container">	
    <%= yield %>
  </div>
  <div class="hFooter"></div>
</div>

  <%= render 'layouts/shared/footer' %>
</body>
</html>
